[Unit]
Description=Bme680 Reader Service
After=local-fs.target network-online.target

[Service]
Restart=on-failure
RestartSec=5s
User=paula
WorkingDirectory=/home/paula/bme680-reader/
ExecStart=/usr/bin/python3 /home/paula/bme680-reader/main.py

[Install]
WantedBy=multi-user.target